.Content {
    max-width: 750px;
    width: 90%;
    margin: 100px auto;

    h3, p, li{
        line-height: 30px;
        letter-spacing: 0.6px;
    }

    h3 {
        color: #007d96;
        font-weight: 700;
        font-size: 38px;
        line-height: 48px;
    }
    p {
        font-size: 20px;
        line-height: 40px;
    }
    ul {
        li {
            font-size: 20px;
            line-height: 40px;
        }
    }
}
.SlickWrapper {
    background-color: #050B0F;
    padding: 25px 0;
    width: 100%;
    box-sizing: border-box;

    .SlickContent {
        max-width: 750px;
        width: 90%;
        margin: auto;
    }
    .SliderDiv {
        img {
            height: 250px;
        }
    }

    .slick-dots, .slick-active{
        background: #fff;
        color: #fff;
    }
}
