.button {
    background: transparent;
    outline: none;
    cursor: pointer;
    padding: 16px 32px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: 2px solid #0090C1;
    color: #0090C1;
    font-weight: bold;

    &:hover {
        background: #0090C1;
        color: #fff;
        transition: 0.2s ease-in-out;
    }
}
