button{
    background: transparent;
    outline: none;
    cursor: pointer;
    padding: 16px 32px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    font-weight: bold;

    &:hover{
        background:#2ecc71;
        color: #fff;
        transition: .2s ease-in-out;
    }
}