.Wrapper {
    width: 90%;
    margin: 50px auto;
    max-width: 750px;
    h1{
            font-weight: 900;
            color: #023E8A;
        }
    div {
        
        section {
            h3 {   
                color: #046E8F;
                font-weight: 700;
                font-size: 38px;
                line-height: 48px;
            }
            p {    
                font-size: 20px;
                line-height: 40px;
                font-size: 1.1em;
            }
            ul {
                li {
                    font-size: 20px;
                    line-height: 40px;
                }
            }

            img{
                width: 100%;
                height: 100%;
                border-radius: 4px;
            }
        }
    }
}
