.Wrapper {
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 10%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 2px -2px #80808042;
    box-sizing: border-box;

    .fa-bars{
        display: none;
    }

    .Title {
        font-size: 1.5em;
        text-transform: uppercase;
        color: #38AECC;
        font-weight: 900;
        user-select: none; 

        i{
            margin-right: 5px;
            color: #046E8F;
        }
    }

    .Items {
        display: flex;
        flex-direction: row;

        .active{
            display: none;
        }

        .Item {
            display: flex;
            align-items: center;
            text-align: center;
            padding: 10px;
            margin: 0 2.5px;
            color: #183446;
            text-decoration: none;
            border-radius: 3px;
            transition: 0.2s ease-in-out;
            text-transform: uppercase;

            &:hover {
                background-color: #0090C1;
                color: #fff;
            }
        }

        .ActiveLink{
            background-color: #0090C1;
            color: #fff;
        }
    }
}

@media only screen and (max-width: 1024px){
    .Items{
        display: none;
    }
}
