.TableWrapper {
    overflow: scroll;
    height: 550px;
    table {
        tbody {
            height: 550px;
        }
        width: 100%;
        border-spacing: 0;
        border: 1px solid rgb(201, 201, 201);

        tr {
            :last-child {
                td {
                    border-bottom: 0;
                }
            }
        }

        th,
        td {
            margin: 0;
            padding: 1rem 1.5rem;
            border-bottom: 1px solid rgb(201, 201, 201);
            border-right: 1px solid rgb(201, 201, 201);
            text-align: center;
        }
    }
}
